*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100vw;
    height: 100vh;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tabela{
    width: 50vw;
    margin-top: 20px;
}
form{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
input[type="text"]{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
input[type="submit"]{
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #ccc;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background-color: #f2f2f2;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}